.w3-allerta {
    font-family: "Allerta Stencil", Sans-serif;
}

div{
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

p.login{
  text-align: center;
  font-size: 16pt;
  font-family: "Allerta Stencil", Sans-serif;
}

.login_textbox{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  width: 300px;
  text-align: center; 
}
.login_button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  width: 200px;
  text-align: center; 
  margin-top: 15px;
}

.whoareyou{
  margin: 3%;
  background-color: lightgray;
  width: 40%;
  float: left;
}

.new_article{
  margin: 3%;
  background-color: lightgray;
  width: 45%;
  float: right;
}

.narticle{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 14pt;
  font-family: "Allerta Stencil", Sans-serif;
}

.crtextbox{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.crbutton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; 
  margin-bottom: 15px;
}