.w3-allerta {
    font-family: "Allerta Stencil", Sans-serif;
}

.postedadminpagecontent{
  box-sizing: unset !important;
  overflow-y: scroll !important;
  height: 60vh;
  display: block;
  scroll-behavior: auto;
  width: 45%;
  margin: 3%;
  overflow-x: hidden;
}

.pagecontent{
  box-sizing: unset !important;
  overflow: scroll !important;
  height: 1000px !important; 
  background-color: black !important;
}



body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;

    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

p.login{
  text-align: center;
  font-size: 16pt;
  font-family: "Allerta Stencil", Sans-serif;
}

.login_textbox{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  width: 300px;
  text-align: center; 
}
.login_button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 14pt;
  width: 200px;
  text-align: center; 
  margin-top: 15px;
}

.whoareyou{
  margin: 3%;
  background-color: lightgray;
  width: 40%;
  float: left;
}

.postedarticles
{
  box-sizing: unset !important;
  overflow-y: scroll !important;
  height: 60vh;
  display: block;
  scroll-behavior: auto;
  width: 48%;
  margin: 3%;
  overflow-x: auto;
}

.new_articles{
  margin: 3%;
  background-color: lightgray;
  width: 45%;
  float: right;
}

.narticle{
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 14pt;
  font-family: "Allerta Stencil", Sans-serif;
}

.crtextbox{
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.crbutton{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; 
  margin-bottom: 15px;
}

.artdiv{
  margin:2%;
  height: 120px;
  background-color: lightgray;
}

.artdiv:hover{
  background-color: darkgray;
}

.artpagediv{
  
  margin:2%;
  margin-top: 6%;
  height: 300px;
  background-color: lightgray;
}

.sollink{
  padding-top: 1.5%;
  padding-left: 3%;
  width: 70%;
  font-size: 12pt;
  
}

.sollink:hover{
  color: darkgrey;
  
}

.filesbutt{
  margin-top: 2%;
  margin-left: 3%;
  width: 20%;
  font-size: 14pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  background-color: darkslategray;
  color: white;
}

.filesbutt:hover{
  background-color: darkgreen;
}

.arttitle{
  padding-left: 3%;
  padding-top: 1%;
  margin: 0%;
  text-align: left;
  font-size: 18pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.artauth{
  margin:0 !important;
  width: 40%;
  float: left;
  padding: 3%;
  padding-top: 1%;
  text-align: left;
  font-size: 14pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.artdate{
  margin:0 !important;
  width: 40%;
  float: right;
  padding-top: 1%;
  text-align: left;
  font-size: 14pt;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

hr{
  margin:0.5% !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 98%;
}

a{
  text-decoration: none;
}

.footer {
  /*position: fixed;*/
  left: 0;
  /*bottom: 0;*/
  width: 100%;
  text-align: center;
}